@import './base.css';

/*// 全局滚动条修改*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #f2f5f9;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
